.home{
    text-align: center;
    font-size:123px
}
button{
    font-size: xx-large;
    background-color: unset;
    color:blanchedalmond;
    border:rgb(192, 163, 116);
}
.title{
    color:white
}
.slanted-title{
    color:blanchedalmond;
    
}